<!-- 
    <h1>Login with Template-driven Form</h1>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" ngModel required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" ngModel required>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Submit</button>
</form> 
-->


<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="formData['username']" required>
        <div
            *ngIf="loginForm.controls['username']?.invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
            <div *ngIf="loginForm.controls['username'].errors">Username is required.</div>
        </div>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="formData['password']" required>
        <div
            *ngIf="loginForm.controls['password']?.invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
            <div *ngIf="loginForm.controls['password'].errors">Password is required.</div>
        </div>
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
</form>